/*----------------------------------------------------------------------------------------------*/
/* COLORS */
/*----------------------------------------------------------------------------------------------*/
$val: ("white") ($color-white), ("grey") ($color-grey),
  ("silver") ($color-silver), ("black") ($color-black), ("sand") ($color-sand),
  ("gold") ($color-gold), ("brown") ($color-brown), ("green") ($color-green);

@each $i in $val {
  .bg-#{nth($i, 1)} {
    background-color: #{nth($i, 2)} !important;
  }
  .is-#{nth($i, 1)} {
    color: #{nth($i, 2)} !important;
    a {
      color: #{nth($i, 2)} !important;
    }
  }
}
