// Utilities
@import "variables";
@import "mixins";
@import "reset";

// Structure
@import "flexbox";
@import "layout";

// Components
@import "colors";
@import "forms";
@import "typos";
@import "animate";

/*-----------------------------------------------------------------------------------
1.Utilitaires

2.Générales

3.Typographie

4.Structure de base
3.1.Navigation
3.2.Flexbox
3.3.Portfolio

4.Styles et couleurs
3.1.Bouttons
3.2.Formulaire de contact

5.Media Queries
5.1.Tablette (paysage)
5.2.Tablette (portrait)
-----------------------------------------------------------------------------------*/

/* ******************************************************************** */
/* UTILITAIRES */
/* ******************************************************************** */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i";

/* ******************************************************************** */
/* GENERALES */
/* ******************************************************************** */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $color-grey;
}

main {
  margin-top: 150px;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  // background-color: #ffffff;
  // padding: 3em;
}

nav {
  width: 100%;
  margin: 0 auto;
  border-top: solid 10px $color-green;
  position: fixed;
  top: 0;
  background-color: $color-grey;
  z-index: 1;
  li {
    padding: 1em;
    &:hover {
      transition: ease-in 0.5s;
      cursor: pointer;
      a {
        font-weight: $font-weight-4;
      }
    }
    a {
      text-transform: uppercase;
      letter-spacing: 0.18em;
      font-size: 14px;
      color: $color-black;
    }
  }
}

.columns {
  column-count: 3;
  column-gap: 30px;
  text-align: justify;
}

.float-left {
  float: left;
  margin-right: 30px;
}

.float-right {
  float: right;
  margin-left: 30px;
}

.clearfix {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

ul.liste {
  list-style: disc;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid $color-silver;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: $color-grey;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $color-green;
  color: white;
}
footer p {
  text-align: center;
}
