// Utilities
@import "variables";
@import "mixins";
@import "reset";

// Structure
@import "flexbox";
@import "layout";

// Components
@import "colors";
@import "forms";
@import "typos";
@import "animate";

/*-----------------------------------------------------------------------------------
1.Utilitaires

2.Générales

3.Typographie

4.Structure de base
3.1.Navigation
3.2.Flexbox
3.3.Portfolio

4.Styles et couleurs
3.1.Bouttons
3.2.Formulaire de contact

5.Media Queries
5.1.Tablette (paysage)
5.2.Tablette (portrait)
-----------------------------------------------------------------------------------*/

/* ******************************************************************** */
/* UTILITAIRES */
/* ******************************************************************** */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i";



/* ******************************************************************** */
/* GENERALES */
/* ******************************************************************** */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $color-white;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1em;
}

.list {
  list-style: circle;
  margin: 20px;
}
